body {
  margin: 0;
  padding: 0;
  background-color: #171520;
  color: #fff;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}


#root {
  min-height: 94vh;
  width: 350px;
  min-width: 350px;
  background-color: #241b2f;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 1rem;
  padding: 8px;
  align-content: center;
}